<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fairness Report</title>

    <link href="{{ url_for('static', filename='static/template.css') }}" rel="stylesheet">

  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="home">Algo Audit</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="fairness">Fairness</a></li>
            <li><a href="transparency">Transparency</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">

        <h1>Fairness Audit</h1>
        <p class="lead">Determine how fair your algorithm is by performing a fairness audit on your training and testing dataset.</p>
        <hr>

        <p class="lead">Begin by uploading a dataset in CSV format:</p>

        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 center">
        <p class="lead">
        <div class="input-group">
        <form action="" method="post" enctype="multipart/form-data" class="input-group-addon">
        <input type="file" name="file" class="btn btn-lg btn-file">
        </div>
        <br>
        <input type="submit" class="btn btn-default btn-lg" value="Upload data">
        </form></p>
        </div>
        </div>
        <br>
        <p class="lead">Your file should contain the following fields:</p>
       
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 center">
        <table class="table table-no-bordered">
        <thead>
        <tr>
        <th>Field Description</th>
        </tr>
        </thead>
        <tbody>
        <tr><td scope="row"><code>id</code></td></tr>
        <tr><td scope="row">feature 1</td></tr>
        <tr><td scope="row">...</td></tr>

        <tr><td scope="row">feature n</td></tr>

        <tr><td scope="row"><code>race</code> (sensitive attribute)</td></tr>
        <tr><td scope="row"><code>gender</code> (sensitive attribute ) </td></tr>
        <tr><td scope="row"><code>prediction</code></td></tr>
        <tr><td scope="row"><code>truth</code> </td></tr>

        </tr>
    
        </tbody>
        </table>
        </div>
        </div>
        </div>

    </div><!-- /.container -->

  </body>
</html>